<% content_for :page_title,  "Index" %>
<%= link_to "Ask question", new_question_path(@question), class:"button" %>
<div class="section">
  <div class="container">
    <% @questions.each do |question| %>
      <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4"><%= link_to question.title, question  %></p>
          </div>
        </div>
        <div class="content">
          <%= question.content %>
        </div>
        <div class="comment-count">
          <span class="tag is-rounded"><%= question.comments&.size %> comments</span>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
